[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QualityMeasure"]
	path = QualityMeasure
	url = https://github.com/cran/QualityMeasure
